body, html{
    margin: 0;

}
.thumb-img{
    width: 300px;

}
.thumb{
    display: flex;
}
.font-size{
    font-size: 30px;
}
.detail-img{
    width: 800px;
}
.row{
    display: flex;
    flex-direction: row;
}
.box{
    background-color: #eee;
    float: left;
    align-items: center;
    margin: 30px;
    
}
.title{
    margin: 5px;
}
.content{
    margin: 5px;
}