#container{
    margin: 0 auto;
    padding: 0;
}

#contents{
    max-width: 1150px;
    padding: 0 80px;
}

#inside{
    margin: 0;
    padding: 0 0 20px;
    display: block;
}

#tit{
    transform: translate(0, 0);
    opacity: 1.0;
    min-height: 30px;
    margin: 10px 0 60px;
    text-align: center;
}

h2{
    font-size: 33px;
    font-weight: 400;
    letter-spacing: 0.06em;
    line-height: 1.4;
}

#stateReview{
    display: flex;
    padding: 0 0 15px;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 0.03em;
}
a{
    text-decoration: none;
    color: #333;
}

.com{
    margin-left: 40px;
}

table{
    table-layout: fixed;
    width: 100%;
    border-top: 2px solid #d6d6d6;
    border-bottom: 1px solid #e6e6e6;
    border-spacing: 0;
    margin: 10px 0 0;
}

th{
    padding: 13px 0 12px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1em;
    border-left: 0;
    border-bottom: 1px solid #e7e7e7;
    background: #fafafa;
}

tr td {
    padding: 30px 5px;
    color: #333;
    text-align: center;
    border-top: 1px solid #e6e6e6;
    line-height: 18px;
}

.product{
    padding-left: 20px;
}

.writeBtn{
    width: 80px;
    line-height: 28px;
    border: 1px solid #dadde0;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

.modal-wrap {
    width: 560px !important;
    margin-left: -280px !important;
    position: absolute;
    top: 20%;
    left: 50%;
    margin: 0 0 0 -379px;
    border-radius: 5px;
    background: #fff;
  }
 
  .modal-container {
    padding: 0 40px 40px;
  }