/* 전역 css 초기화 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 전역 css 초기화 끝*/

#header {
    width: 100vw;
    height: 10vh;
    background-color: #aaa;
}
#main {
    width: 100vw;
    height: 80vh;
    background-color: #bbb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer {
    width: 100vw;
    height: 10vh;
    background-color: #ccc;
}

/* ========================= */