<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hanju.cart.mapper.CartMapper">
    <select id="viewCart" parameterType="hashmap" resultType="CartModel">
        SELECT C.*, I.FILE_PATH, P.PRODUCT_NAME, P.PRICE
        FROM HANJU_CART C
        INNER JOIN HANJU_IMAGE I ON C.PRODUCT_ID = I.FK_ID
        INNER JOIN HANJU_PRODUCT P ON P.PRODUCT_ID = C.PRODUCT_ID
        WHERE I.FILE_STATUS = 'T' AND USER_ID = #{userId}
    </select>
</mapper>