<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hanju.user.mapper.UserMapper">	
	<select id="idCheck" parameterType="hashmap" resultType="Integer">	
		SELECT count(*)
		FROM HANJU_USER
		WHERE USER_ID = #{userId} 
	</select>
	
	<select id="infoUser" parameterType="hashmap" resultType="UserModel">	
		SELECT *
		FROM HANJU_USER
		WHERE USER_ID = #{userId} 
	</select>
	
	
	<select id="loginUser" parameterType="hashmap" resultType="UserModel">	
		SELECT * 
		FROM HANJU_USER
		WHERE USER_ID = #{userId} AND PASSWORD = #{password}
	</select>
	
	<select id="allUserList" parameterType="hashmap" resultType="UserModel">
		SELECT *
		FROM HANJU_USER
	</select>
	
	<insert id="insertUser" parameterType="hashmap" >
		INSERT INTO HANJU_USER
		VALUES(#{userId},#{password},#{userName},#{status},#{phone},#{email},TO_DATE(#{birthday}, 'YYYY-MM-DD'),SYSDATE,0,#{zipNo},#{roadAddrPart1},#{addrDetail})
	</insert>
	
	<update id="modifyUser" parameterType="hashmap">
		UPDATE HANJU_USER
		SET
			PASSWORD=#{password},
			USER_NAME=#{userName},
			PHONE=#{phone},
			EMAIL=#{email},
			BIRTHDAY=TO_DATE(#{birthday}, 'YYYY-MM-DD'),
			ZIPNO=#{zipNo},
			ROADADDRPART1=#{roadAddrPart1},
			ADDRDETAIL=#{addrDetail}
		WHERE USER_ID = #{userId} 
	</update>
	
	<delete id="deleteUser" parameterType="hashmap">	
		DELETE
		FROM HANJU_USER
		WHERE USER_ID = #{userId} 
	</delete>
	
</mapper>	